body {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 8px;
}
h1{
    padding: 0%;
    margin: 0%;
}
a {
    color: inherit;
    text-decoration: none;
}
.hero {
    flex: auto;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
}
.break {
    flex: auto;
    width: 200px;
    background-color: #1f2937 ;
    flex-grow: 0;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937 ;
}
.secondary {
    font-size: 18px;
    color: #f9faf8;
}
.hText, .hAwsome
{
    font-size: 24px;
    color: #f9faf8;
}

.cool{
    display: flex;
    background-color: #1f2937;
    padding-top: 70px;
    padding-bottom: 70px;
}
.hAwsome {
    font-size: 48px;
    font-weight: bolder;
}
.h {
    display: flex;
    flex: auto;
    padding-left: 50px;
    flex-shrink: 0;
}
.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
}
.signUp {
    flex: auto; 
    width: 100px;
    height: auto;
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5%;
    flex-grow: 0;
}
.design  {
    width: 500px;
}
.topi{
display: flex;
}
.bottomi{
display: flex;
flex: 1;
justify-content: space-between;
}
.info {
    display: flex;
    justify-content: center;
}
.info1 {
    flex: auto;
    justify-content: center;
    align-items: center;
}
.infob {
    background-color: white;
}